*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --main-color:#af1d4c;
}

body{
    width:100%;
    background-color: #000;
    font-family: 'EB Garamond', serif;
    color:var(--main-color);
    font-size:16px;
    font-weight: 400;
}

#wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width:340px;
    padding:50px;
}

.title{
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    display: block;
    letter-spacing: 4px;
}

svg{
    fill:var(--main-color);
}

.title > svg{
    width: 100%;
}

.avatar{
    width:100%;
    border-radius:14px;
}

.socials{
    font-size: 1em;
}

.socials > p{
    text-align: justify;
    margin: 1em 0;
}

.socials a{
    color:var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

.socials a:hover{
    text-decoration: underline;
}

.socials svg{
    margin-top: 5px;
    margin-right:4px;
    width: calc(1em - 4px);
    height: calc(1em - 4px);
    display: block;
    float: left;
}

@media screen and (max-width:340px) {
    #wrapper{
        position: relative;
        transform:none;
        left:0;
        top:0;
        margin:0 auto;
    }
}